.button {
    -fx-background-color: #645CBB;
    -fx-border-radius: 15px;

}

.button:hover {
    -fx-background-color: #2c245b;

}


.logout-button {
    -fx-background-color: #e30444;
    -fx-border-radius: 15px;
}

.logout-button:hover {
    -fx-background-color: #e51d56;

}

.pane {
    -fx-border-color: #645CBB;
    -fx-border-radius: 5px;
}

.pane-2 {
    -fx-border-color: #e51d56;
    -fx-border-radius: 5px;
}